#contenedor-principal{
    border: 2px solid cadetblue;

    div:first-child {
        cursor: pointer;
    }

    div:first-child:hover {
        background-color: rgb(204, 204, 204);
    }
}

#contenedor {
    width: 20%;
    overflow: hidden; /*Para que lo que se salga del contenedor no se vea*/
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    div {
        margin-top: 10px;
    }
}

.expandir {
    height: 200px;
}

.colapsar {
    height: 0px;
}

.rotar-arriba {
    transform: rotate(180deg);
    transition: all 1s;
}

.rotar-abajo {
    transform: rotate(0deg);
    transition: all 1s;
}