#contenedor {
    width: 20%;
    height: 50px;
    border: 2px solid coral;
    overflow: hidden; /*Para que lo que se salga del contenedor no se vea*/
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    div {
        margin-top: 10px;
    }
}

